body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.container {
    display: flex;
    height: 100vh; /* 100% del viewport height */
}

.sidebar {
    background-color: #34b945e8;
    padding: 20px;
    color: #fff;
    width: 20%; /* Cambiado a un porcentaje del ancho del contenedor padre */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar verticalmente el contenido */
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    width: 100%; /* Ajustar el ancho al 100% del contenedor padre */
}

.sidebar a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    display: block;
    border-bottom: 1px solid #cb7bf0;
    width: 100%; /* Ajustar el ancho al 100% del contenedor padre */
    box-sizing: border-box; /* Incluir el borde en el ancho total */
}

.sidebar a:hover {
    background-color: #389c6e;
}

.main {
    flex: 1;
    padding: 20px;
    box-sizing: border-box; /* Incluir el padding en el ancho total */
    color: #fff; /* Color de texto para el contenido principal */
}

.title{
    text-align: center;
    color: black;
}

/* Puedes agregar estilos adicionales según tus preferencias */
