.main_configuracion h2.title {
    color: #333;
    font-size: 24px;
}

.main_configuracion h2 {
    color: black;
}

.main_configuracion .vista {
    margin-top: 20px;
}

.main_configuracion table {
    width: 75%;
    border-collapse: collapse;
}

.main_configuracion th, .main_configuracion td {
    border: 1px solid #10af9a;
    padding: 12px;
    text-align: left;
}

.main_configuracion th {
    background-color: #14d6bc;
}

.main_configuracion .acciones {
    display: flex;
    flex-direction: row;
}

.main_configuracion .acciones a {
    background-color: #35dc35;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 5px;
}

.main_configuracion .acciones .btn-eliminar{
    background-color: #dc3545;
    color: white; /* Añade color al texto del botón para mejorar la legibilidad */
    text-decoration: none;
    padding: 5px 10px; /* Ajusta el relleno para que el botón sea más visible */
    border-radius: 5px;
}

.main_configuracion .acciones a:hover {
    background-color: #c82333;
    text-decoration: none;
}
