.titulo{
    text-align: center;
    margin-top: 20px;
}

.tabla_id{
    margin: 50px;
}

/* Estilo para el botón de inserción */
.btnNuevo {
    /*R: 75
G: 221
B: 134*/
    background-color: rgb(75, 221, 134);
    color: #fff; /* Color del texto blanco */
    padding: 10px 20px; /* Espaciado interno */
    font-size: 16px; /* Tamaño del texto */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
    margin: 2px;
    text-decoration: none; /* Quita el subrayado */
}

/* Cambio de estilo al pasar el ratón sobre el botón */
.btnNuevo:hover {
    background-color: #2c6a2f; /* Color de fondo más oscuro al pasar el ratón */
    color: #fff;
    text-decoration: none;
}

.btnAcciones{
    display: inline-block; /* O puedes usar 'inline' según tus necesidades */
    background-color: #4CAF50; /* Color de fondo verde */
    color: #fff; /* Color del texto blanco */
    padding: 10px 10px; /* Espaciado interno */
    font-size: 16px; /* Tamaño del texto */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
    margin: 0px;
    text-decoration: none; /* Quita el subrayado */
}

.btnAcciones:hover {
    background-color: #2c6a2f; /* Color de fondo más oscuro al pasar el ratón */
}